<div class="carousel">
    <div class="tns-outer" id="tns1-ow">
        <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button"
                data-controls="prev" tabindex="-1" aria-controls="tns1"><i class="bi bi-arrow-left"></i></button><button
                type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i
                    class="bi bi-arrow-right"></i></button></div>
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span
                class="current">2</span> of 3</div>
        <div id="tns1-mw" class="tns-ovh">
            <div class="tns-inner" id="tns1-iw">
                <div data-carousel="{&quot;mouseDrag&quot;: true, &quot;navContainer&quot;: &quot;#nav-1&quot;, &quot;gutter&quot;: 8, &quot;loop&quot;: true, &quot;items&quot;: 1}"
                    class="  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1"
                    style="transition-duration: 0s; transform: translate3d(-20%, 0px, 0px);">
                    <div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img alt="Image"></div>
                    <div class="item tns-item tns-slide-active" id="tns1-item0"><img
                            src="public/Uploads/photo-1633387987789-339584709.jpg"></div>
                    <div class="item tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1"><img
                            src="public/Uploads/photo-1633387987792-938707334.jpg"></div>
                    <div class="item tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1"><img alt="Image"
                            src="public/Uploads/photo-1633387987796-973462030.jpg"></div>
                    <div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tns1-mw" class="tns-ovh">
    <div class="tns-inner" id="tns1-iw">
        <div data-carousel="{&quot;mouseDrag&quot;: true, &quot;navContainer&quot;: &quot;#nav-1&quot;, &quot;gutter&quot;: 8, &quot;loop&quot;: true, &quot;items&quot;: 1}"
            class="  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1"
            style="transition-duration: 0s; transform: translate3d(-20%, 0px, 0px);">
            <div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img alt="Image" /></div>
            <div class="item tns-item tns-slide-active" id="tns1-item0"><img
                    src="public/Uploads/photo-1633387987789-339584709.jpg" /></div>
            <div class="item tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1"><img
                    src="public/Uploads/photo-1633387987792-938707334.jpg" /></div>
            <div class="item tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1"><img alt="Image"
                    src="public/Uploads/photo-1633387987796-973462030.jpg" /></div>
            <div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img /></div>
        </div>
    </div>
</div>


<div class="col-md-2 order-md-1">
    <div class="carousel-thumbs d-flex flex-row flex-md-column" id="nav-1" aria-label="Carousel Pagination">
        <div data-nav="0" aria-label="Carousel Page 1 (Current Slide)" aria-controls="tns1" class="tns-nav-active"><img
                class="img-fluid" src="./assets/images/products/product-9.jpg" alt="Image"></div>
        <div data-nav="1" tabindex="-1" aria-label="Carousel Page 2" aria-controls="tns1"><img class="img-fluid"
                src="./assets/images/products/product-9-2.jpg" alt="Image"></div>
        <div data-nav="2" tabindex="-1" aria-label="Carousel Page 3" aria-controls="tns1"><img class="img-fluid"
                src="./assets/images/products/product-9-3.jpg" alt="Image"></div>
    </div>
</div>